<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAKOOBISHAK</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="/css/layout.css">
</head>

<body>
    <header class="navbar">
        <section class="navbar-section">
            <a href="/home" class="navbar-brand mr-2">JAKOOBISHAK</a>
        </section>
        <section class="navbar-section">
            <a href="/home" class="btn btn-lg">Home</a>
            <a href="/contact" class="btn btn-lg">Contact</a>
            <a href="/projects" class="btn btn-lg">Projects</a>
            {{#if session.isLoggedIn}}
            <a href="/logout" class="btn btn-lg">Logout</a>
            {{else}}
            <a href="/login" class="btn btn-lg">Login</a>
            {{/if}}
        </section>
    </header>
    <div class="divider"></div>
    <main>
        {{{body}}}
    </main>
    <div class="divider"></div>
    <footer>
        <p>Copyright JAKOOBISHAK © 2021</p>
    </footer>
</body>

</html>