<div class="panel">
    <div class="panel-header">
        <div class="panel-title">Comments</div>
    </div>
    <div class="panel-nav">
        <!-- navigation components: tabs, breadcrumbs or pagination -->

        <div class="message-box">
            <input class="form-label" type="text" id="input-example-1" placeholder="Name">
            <textarea class="form-input" id="input-example-1" placeholder="Message" rows="3"></textarea>
        </div>
        <button class="btn">Send</button>
    </div>
    <div class="panel-body">
        <!-- contents -->
    </div>
    <div class="panel-footer">

    </div>
</div>