<div class="login-form">
    <form>
        <label class="form-label" for="username">Username</label>
        <input class="form-input" type="text" id="username" placeholder="Username">
        <label class="form-label" for="password" id="password-label">Password</label>
        <input class="form-input" type="password" id="password" placeholder="Password">
        <input class="btn btn-primary" type="submit" value="Submit" id="submit-login-btn">
    </form>
</div>