.navbar-brand.mr-2{
    font-size: 3rem;
    margin-left: 1rem;
}

.btn.btn-link{
    font-size: 1rem;
    margin-right: 3rem;
}

main{
    margin: 5% auto;
    width: 70%;
    text-align: center;
}

footer{
    margin: 5% auto;
    width: 70%;
    text-align: center;
}

.panel{
    margin-left: 300px;
    margin-right: 300px;
}

.message-box{
    margin: 50px 50px 50px 50px;
}

.form-label{
    margin-bottom: 24px;
}

.login-form{
    margin-left: 500px; 
    margin-right: 500px;
}

#password-label{
    margin-top: 50px;    
}

#submit-login-btn{
    margin-top: 50px;
}

.comment-list{
    list-style-type: none;
}

#name{
    margin-bottom: 24px;
}

.projects-list{
    list-style-type: none;
    margin-top: 50px;
}